<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tw.mapper.ExpenseRequestMapper">
    <resultMap id="resultExpenseRequest" type="com.tw.domain.ExpenseRequest">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="createdAt" column="createdAt" />
    </resultMap>

    <insert id="createExpenseRequest"  keyProperty="expenseRequest.id">
        INSERT INTO expenseRequests (amount, userId, createdAt) values (#{expenseRequest.amount}, #{userId}, #{expenseRequest.createdAt})
    </insert>

    <select id="getExpenseRequestById" resultMap="resultExpenseRequest">
        SELECT expenseRequest.id as id, expenseRequest.name as name,
         policy.id as policyId,
         policy.maxAmount as policyMaxAmount,
         policy.createdAt as policyCreatedAt
         FROM categories as expenseRequest left join policies as policy on expenseRequest.id = policy.expenseRequestId
         where expenseRequest.id = #{id} order by policyCreatedAt DESC LIMIT 1
    </select>
</mapper>